<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Managment System</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<div class="container">

		<div class="jumbotron p-2 mt-4">

			<h1>Employee Managment System</h1>
			<hr class="my-2">
		</div>


		<h2>Update Employee:</h2>
		<hr>

		<form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
			method="POST">
			
			
			<!-- Agregue un campo de formulario oculto para manejar la actualización -->
			<input type="hidden" th:field="*{id}" /> 


			<div class="mb-3">
				<label for="Employee Name" class="form-label mt-1">Name* :</label>
				 <input type="text" th:field="*{name}" placeholder="Employee Name"
					    class="form-control">

				<div class="row">
					<div class="col">
						<label for="Employee Position" class="form-label mt-1">Position* :</label>
						       <input type="text" th:field="*{position}" placeholder="Employe Position"
						        class="form-control">

					</div>

					<div class="col">
						<label for="Employe Office" class="form-label mt-1">Office* :</label> 
						<input type="text" th:field="*{office}" placeholder="Employee Office"
							   class="form-control">

					</div>

					<div class="col">
						<label for="Employee Age" class="form-label mt-1">Age* :</label> 
						<input type="text" th:field="*{age}" placeholder="Employee Age"
							   class="form-control">

					</div>



				</div>

				<div class="row">

					<div class="col">


						<div class="mb-3">
							<label for="Employee Salary" class="form-label mt-2">Salary* :</label>
							<input type="text" th:field="*{salary}"
								placeholder="Employee Salary" class="form-control mb-4 col-6">

						</div>

					</div>

					<div class="col">
						<div class="mb-3">
							<label for="Employee Start Date" class="form-label mt-2">Date* :</label>
							       <input type="date" th:field="*{startDate}" placeholder="dd/mm/aaaa"
							        class="form-control mb-4 col-6">

						</div>



					</div>



				</div>


			</div>

			<hr>

			<button type="submit" class="btn btn-info col-2">Update Employee </button>


		</form>



	</div>

	<!-- REQUIRED SCRIPTS -->

	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- Bootstrap 4 -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<!-- Font Awesome -->
	<script th:src="@{/js/fontawesome.all.min.js}"></script>



</body>
</html>